<li class="newly-article" ng-repeat="article in articles">
    <a class="title" ng-click="jump(article.objectId)">{{article.title}}</a>

    <p class="foreword">
        {{article.summary}}
    </p>

    <div class="artical-info">
        <a>
            <span class="glyphicon glyphicon-tag"></span>
            <span>随笔</span>
        </a>
        <a>
            <span class="glyphicon glyphicon-time"></span>
            <span>LeeBox</span>
            <span>发布于</span>
            <span>{{article.updatedAt}}</span>
        </a>
    </div>
</li>